*{
    margin: 0px;
    padding: 0px;
}
.bubbles{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
    background: rgb(1, 1, 27);
    color: rgb(16, 16, 49);
    overflow: hidden;
}
.bubbles span{
    position: absolute;
    bottom: 50px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: translateY(-1100%);
        opacity: 0;
    }
}
.bubbles span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.25) translate(-70%,-70%);
    background: radial-gradient(#fff, transparent);
}